.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.spinner{
  width: 5rem; 
  height: 5rem;
  border-width: 0.5rem;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}